#loading-letter {
  color: white; 
  left: 50%; 
  top: 50%; 
  height: 100px; 
  width: 300px; 
  margin-left:-150px; 
  margin-top: -50px; 
  position: absolute; 
  text-align: center;
}

#err-message {
  color:white; 
  text-align: center; 
  position: absolute; 
  bottom:0px; 
  left:50%; 
  right:20%;  
  width:300px; 
  margin-left:-150px;
}

.topLeftPanel {
  margin-top: 10px;
  margin-left: 10px;
  border-radius:10px;
  padding-left: 1%;
  padding-right: 1%;
  background-color:rgba(247, 34, 34, 0.4);
  margin-right:auto;
}